.movie-info-container {
  color: #fff;
  display: flex;
  flex-direction: row;
  padding: 20px 30px;
  justify-content: center;
  width: 60%;
  text-align: justify;
  margin: auto;
  padding: 5%;
}

.movie-cover {
  object-fit: cover;
  height: 350px;
}

.info-column {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.movie-name {
  font-size: 22px;
  font-weight: 600;
  margin: 15px 0;
  white-space: nowrap;
  overflow: hidden;
  text-transform: capitalize;
  text-overflow: ellipsis;
}

.info-info {
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  margin: 4px 0;
  text-transform: capitalize;
  text-overflow: ellipsis;
}

.info-info span {
  opacity: 0.5;
}

.close {
  font-size: 16px;
  font-weight: 600;
  color: black;
  background: lightgray;
  height: fit-content;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.8;
}

.movie-card {
  color: #fff;
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  padding: 10%;
}